
/* Product Card Styling */

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    /* background: linear-gradient(120deg, #c79467 60%,#c79467 88%);
    color: rgb(233, 233, 183); */
     background: linear-gradient(120deg, beige 60%, beige 88%);
    color: rgb(233, 233, 183);
  }
  
  .flip-card-back {
    /* background: linear-gradient(120deg, #783201 30%, rgb(249, 192, 126) 88%,
    #783201 40%,  rgb(249, 192, 126) 78%); */
    background: linear-gradient(120deg, #783201 30%, #783201 88%,
    #783201 40%,  #783201 78%);
    color: white;
    transform: rotateY(180deg);
  }


/* Products Section */


.products {
    margin-top: 30px;
    gap: 20px;
    background-color: #be9678;
}
.product-sec {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}

.img-card img{
width: 62%;
    border-radius: 1rem;
}


